# Döngüler

## For Loop

Aşağıdaki list'teki her elemanı 5'e bölüp ikiyle çarpma işlemi nasıl yaparız?

In [1]:
my_list = [10,20,30,40,50,60,70]

In [2]:
my_list[0] /5 *2

4.0

In [3]:
my_list[1] /5 *2

8.0

Döngü ile kolay bir şekilde yapılır.

In [6]:
for number in my_list:
    print(number)

10
20
30
40
50
60
70

In [7]:
for number in my_list:
    print(number /5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [9]:
print("for loop started")
for x in my_list:
    new_number = x / 5 * 2
    print(new_number)
print("for loop ended")

for loop started
4.0
8.0
12.0
16.0
20.0
24.0
28.0
for loop ended

For içerisinde if control yapılabilr

Listedeki elemanların sadece 6'ya tam bölünenlerini yazdır.

In [12]:
for number in my_list:
    if number % 6 == 0:
        print(number)
    else:("6'ya tam bölünen sayı yok listede")

30
60

In [13]:
number_list = [1,2,3,4,5,6,7,8,9,10]

In [14]:
for num in number_list:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [15]:
my_string= "atil samancioglu"

In [16]:
for c in my_string:
    print(c)

a
t
i
l

s
a
m
a
n
c
i
o
g
l
u

In [17]:
my_tuple = (10,20,30,40,50,60,70)

In [18]:
for num in my_tuple:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [19]:
my_tuple

(10, 20, 30, 40, 50, 60, 70)

In [23]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","f")]

In [24]:
len(my_new_list)

4

In [25]:
my_new_list[0]

('a', 'b')

In [26]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'f')

In [27]:
# tuple unpacking

In [29]:
my_new_list[0][1]

'b'

In [30]:
for (x,y) in my_new_list:
    print(x)

a
c
e
g

In [31]:
for (x,y) in my_new_list:
    print(y)

b
d
f
f

In [33]:
my_tuple_list = [(0,1,2),(3,4,5),(6,7,8),(9,10,11)]

In [34]:
len(my_tuple_list)

4

In [35]:
for (x,y,z) in my_tuple_list:
    print(x)

0
3
6
9

In [36]:
my_set = {1,2,3,4,5}

In [37]:
my_set

{1, 2, 3, 4, 5}

In [38]:
len(my_set)

5

In [39]:
type(my_set)

set

In [40]:
for num in my_set:
    print(num)

1
2
3
4
5

In [41]:
my_dictionary = {"k1":100,"k2":200,"k3":300}

In [42]:
for element in my_dictionary:
    print(element)

k1
k2
k3

In [43]:
my_dictionary.keys()

dict_keys(['k1', 'k2', 'k3'])

In [44]:
my_dictionary.values()

dict_values([100, 200, 300])

In [45]:
my_dictionary.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [46]:
for (key, value) in my_dictionary.items():
    print(value)

100
200
300

In [47]:
for num in my_dictionary.values():
    print(num)

100
200
300

## continue - break - pass

In [61]:
my_list = [10,20,30,40,50,60,70]

In [50]:
print("for loop started")
for num in my_list:
    print(num)
print("for loop ended")

for loop started
10
20
30
40
50
60
70
for loop ended

In [51]:
40 in my_list

True

In [53]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")

10
20
30
40
yes
50
60
70

In [54]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")
        break  # döngüyü kırarak döngüden çıkar

10
20
30
40
yes

In [55]:
for number in my_list:
    print(number)
    if number == 40:
        print("yes")

10
20
30
40
yes
50
60
70

In [59]:
for number in my_list:
    print(number)
    if number == 40:
        continue
        print(number)

10
20
30
40
50
60
70

In [63]:
for number in my_list:
    if number == 40:
        continue
    print(number)

10
20
30
50
60
70

Continue'da döngüye devameder sonraki kodlara bakmaz yukarıda 40'a geldiğinde continue satırından sonra tekrar başa döner ve alttaki print(number) satırını yazdırmamış olur o yüzden 40 çıktısını alamayız.

In [64]:
for number in my_list:
    pass

Pass : Genelde kodu geliştirirken kullanılır bitmiş kodda pek görülmez.